#!/bin/sh
set -e

GIT_CHECKOUT_USER=${GIT_CHECKOUT_USER:-{{ git_checkout_dest_owner }}}
GIT_CHECKOUT_GROUP=${GIT_CHECKOUT_GROUP:-{{ git_checkout_dest_group }}}
GIT_CHECKOUT_REPO=${GIT_CHECKOUT_REPO:-{{ git_repo_uri | default('') }}}
GIT_CHECKOUT_BRANCH=${GIT_CHECKOUT_BRANCH:-{{ git_checkout_branch | default('master') }}}
GIT_CHECKOUT_DEST=${GIT_CHECKOUT_DEST:-{{ git_checkout_dest | default('') }}}
GIT_CHECKOUT_REV=${GIT_CHECKOUT_REV:-{{ git_checkout_rev | default('origin/master') }}}
GIT_CHECKOUT_USERNAME_FILE=${GIT_CHECKOUT_USERNAME_FILE:-{{ git_username_file | default('') }}}
GIT_CHECKOUT_PASSWORD_FILE=${GIT_CHECKOUT_PASSWORD_FILE:-{{ git_password_file | default('') }}}
GIT_CHECKOUT_EXPECT_TIMEOUT=${GIT_CHECKOUT_EXPECT_TIMEOUT:-{{ git_checkout_expect_timeout }}}

mkdir -p ${GIT_CHECKOUT_DEST} && chown -R ${GIT_CHECKOUT_USER}:${GIT_CHECKOUT_GROUP} ${GIT_CHECKOUT_DEST}

cd ${GIT_CHECKOUT_DEST}

if [ -n "${GIT_CHECKOUT_USERNAME_FILE}" ]; then
    echo '$GIT_CHECKOUT_USERNAME_FILE was set'
    [ -f "${GIT_CHECKOUT_USERNAME_FILE}" ] && username=$(cat ${GIT_CHECKOUT_USERNAME_FILE}) || echo "file missing"
fi

if [ -n "${GIT_CHECKOUT_PASSWORD_FILE}" ]; then
    echo '$GIT_CHECKOUT_PASSWORD_FILE was set'
    [ -f "${GIT_CHECKOUT_USERNAME_FILE}" ] && password=$(cat ${GIT_CHECKOUT_PASSWORD_FILE}) || echo "file missing"
fi


exec su-exec ${GIT_CHECKOUT_USER} /usr/bin/expect <<-EOD
set timeout ${GIT_CHECKOUT_EXPECT_TIMEOUT}
spawn git clone --no-checkout -b ${GIT_CHECKOUT_BRANCH} ${GIT_CHECKOUT_REPO} ${GIT_CHECKOUT_DEST}
proc try_login { } {
    expect  {
        "*?sername" {
            send "$username\r"
            exp_continue
        }
        "*?ass" {
            stty -echo
            send "$password\r"
            stty echo
            puts "******"
            exp_continue
        }
        "*?ermission denied" {
            exit 1
        }
        "?*failed" {
            exit 1
        }
        eof {
            spawn git reset --hard ${GIT_CHECKOUT_REV}
        }
    }
    expect eof
}
expect {
    "Cloning" {
       try_login
    }
    "*?done." {
        spawn git reset --hard ${GIT_CHECKOUT_REV}
    }
    "fatal:" {
        puts "\n Clone already done, fetching and doing a reset"
        spawn git fetch origin
        try_login
    }
}
EOD